In [1]:
import pandas as pd
import numpy as np

In [5]:
df_dados_homens = pd.read_csv('../../data/TirolaDataset/01 - Body Data.txt',sep='\t')
df_dados_homens.head(100)

,AGE,GENDER (1=M),PULSE,SYSTOLIC,DIASTOLIC,HDL,LDL,WHITE,RED,PLATE,WEIGHT,HEIGHT,WAIST,ARM CIRC,BMI
0,43,0,80,100,70,73,68,8.7,4.80,319,98.6,172.0,120.4,40.7,33.3
1,57,1,84,112,70,35,116,4.9,4.73,187,96.9,186.0,107.8,37.0,28.0
2,38,0,94,134,94,36,223,6.9,4.47,297,108.2,154.4,120.3,44.3,45.4
3,80,1,74,126,64,37,83,7.5,4.32,170,73.1,160.5,97.2,30.3,28.4
4,34,1,50,114,68,50,104,6.1,4.95,140,83.1,179.0,95.1,34.0,25.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,64,0,74,120,72,61,121,4.2,4.49,234,88.6,155.0,104.5,40.5,36.9
96,28,1,54,128,72,39,123,5.2,5.05,218,99.4,178.6,106.3,36.3,31.2
97,33,0,74,114,78,40,85,6.5,4.49,228,84.6,170.6,97.2,35.5,29.1
98,58,1,84,128,74,36,118,12.6,5.80,260,127.8,170.0,140.8,41.6,44.2
99,18,1,72,128,66,60,84,3.3,4.13,254,88.3,173.5,90.5,33.2,29.3